.infoFooterBar {
    grid-area: g;
    display: flex;
    justify-content: space-between;
    background-color: #c3c3c3;
    border: 0;
    border-top: 3px solid white;
    margin: 0;
    align-items: center;
}

.infoFooterMenu {
    border: 0;
    margin: 0;
    padding: 0;
}

.infoFooterMenu {
    display: none;
}

.footerMenuButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 34px;
    width: 112px;
    padding: 4px;
    margin-left: 5px;
}

.footerDateTime{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #818181;
    border-left: 2px solid #818181;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    height: 34px;
    width: 112px;
    padding: 4px;
    margin-right: 5px;
}